h1{
  align-items: center;
  margin: 1em 0 0.5em 0;
	color: #343434;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	font-family: 'Orienta', sans-serif;
}
body{
  background-color: yellow;
}
img{
  image-resolution: 
}
